{
    "arrowParens": "always",
    "bracketSpacing": true,
    "operator-linebreak": "after",
    "parser": "babel",
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false
}